*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  scroll-padding-top: 60.48px;
}

body{
  height: 250vh;
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

