@use "./reset";

// ============================

.bg-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.logo {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;

	span {
		color: rgb(255, 196, 3);
		text-shadow: 0 0 5px rgb(255, 196, 3);
	}
}

// ============================

.home {
	position: relative;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image: url("/GenoType/img/DNA_small.jpg");
	z-index: 0;

	.brand-name {
		font-size: 5rem;
		text-shadow: 0 0 5px white;
	}

	.header-info {
		font-size: 2rem;
	}

	.btn {
		padding: 0.3em 0.7em;
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	i {
		position: absolute;
		bottom: 15px;
		left: 50%;
		translate: -50% 0;
		font-size: 3rem;
		color: white;
	}
}

// =======================================

nav{

  .logo{
    font-size: 2rem;
    text-shadow: 0 0 5px black;
  }
}
